
.inputname{
  top: 100px;
  position: relative;
}


.btn-send{
  margin: 0;
}
.btn-send{
  position: relative;
  left: 360.3px;
  line-height: 43px;
  font-weight: 100;
  color: #fff;
  -webkit-text-stroke: 2px #fff;
}

.star-bar,
.btn-send {
  position: relative;
  border-radius: var(--borda);
}
.btn-send{
  top: 350px;
  left: 300.5px;
  background-color: #ddd874;
  width: 205px;
  height: 64px;
  font-family: var(-mont);
  font-size: 45px;
}

.btn-send:hover{
	transform: scale(1.1);
}

.star-bar{
  left: 70px;
  width: 664px;
}

.star-bar{
  background-color: #ddd874;
  height: 64px;
}

.evaluatemenu{
  position: relative;
  background-color: #ac8ec5;
  top: 150px;
  left: 50px;
  width: 792px;
  height: 450px;
  opacity: 1;
  border-radius: var(--borda);
}

.rating{
  position: relative;
  top: 5px;
  left: 175px;
  color: white;
  font-size: 50px;
}

.rating .star:hover {
	transform: scale(1.1);
}

textarea {
  position: relative;
  right: 190px;
  top: 35px;
	width: 100%;
	background: white;
	padding: 15px;
	border-radius: 8px;
  border-color: black;
	outline: none;
}
