.workshopImgs {
    display:flex;
    justify-content: flex-end;
   
}

.workshopImg {
    width: 20%;
    height: auto;
    padding-left: 20px;
}

.workshopText {
    margin:40px;
    margin-top:60px;
    margin-left: 60px;

}