* {
    font-family: 'Montserrat';
    -webkit-text-stroke: 1px #000;
    line-height: 30px;
}

header {
    padding: 40px;
    display:flex;
    justify-content: space-between;
}

.headerLogo {
    width: 20%;
}

nav a {
    padding-left: 30px;
}

nav {
    display: flex;
    align-items: center;
}

.products_left {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    height: 600px;
}

.products_right {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    height: 600px;
    justify-content: flex-end;
}

.product_img {
    padding-right: 20px;
    padding-left: 20px;
}

.title_bar {
    width: 400px;
    margin: 0;
    border-right: none;
    border-left: none;
    border-top: none;
    border-color:#DDD874;
}

.catalogue_container {
    display: flex;
    align-items: center; 
    padding-bottom: 60px;
    padding-top: 20px;
}

.catalogue_title {
    font-size: 40px;
    padding-left: 20px;
    font-family: var(--titleFontFamily);
    color:var(--purple);
    -webkit-text-stroke: 1px var(--purple);

}

.catalogue_content {
    display: flex;
    justify-content: center;
}

